<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="SkyLibraryConn" connectionString="Data Source=DESKTOP-RVB8V8K\MSSQLSERVER01;Initial Catalog=SkyLibraryDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BookRentalSystem.Properties.Settings.SkyLibraryDBConnectionString"
            connectionString="Data Source=DESKTOP-RVB8V8K\MSSQLSERVER01;Initial Catalog=SkyLibraryDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>